/*Paginas de productos individuales*/
.mainProducts {
  width: 70%;
  margin: 15%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: 1px;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0);
  background-color: #40e0d0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}
.mainProducts section {
  width: 50%;
}
.mainProducts section div {
  width: 100%;
}
.mainProducts div h1 {
  width: 50%;
}
.mainProducts div h3 {
  font-size: larger;
}
.mainProducts div p {
  text-align: start;
}
.mainProducts .carousel {
  height: 40%;
}
.mainProducts .divproducts {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width: 576px) {
  .mainProducts {
    justify-content: center;
  }
  .mainProducts section {
    width: auto;
  }
}