

/* tarjetas productos,vista telefono*/
@media screen  and (min-width: 320px){
    h1{
        margin-left: 26%;
        margin-right: 26%;
    }
    h4{
        margin-left: 10px;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .card{
        margin: 15px;
    }
    
 }    
/*tarjetas productos, vista compu*/
 section{
    display: flex;
    flex-wrap: wrap;
 }
 .card{
    background-color: #40e0d0;
    width: 290px;
    margin: 24px;
}
/*general*/
footer{
    color: white;
    background-color: black;
    height: 193px;
    display: flex;
}
header{
    background-color: #3b3939;
    color: white;
}
body{
    background-color: #3b3939;
}

.loading{
    background-color: #1919198a;
}
/*Locales*//*Inicio*/
.mLocales{
    display: flex;
    flex-wrap: wrap;
}
@media screen  and (min-width: 1200px){
    main .card{
        margin: 30px;
        height: 100px;
    }
    main{
        height: 757px;
    }
    .carousel{
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .mIndex{
        height: auto;
    }
    .h1Index{
        margin-left: 42%;
        margin-right: 42%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

/*Contactanos*/
p{
    color: white;
}
