
/*Nosotros*/
form{
    @media screen and (max-width:320px) {
      width: 304px;  
      margin: 0px;
    }

}

.mNosotros{
    color: $blanco;
    align-items: center;
    a{
        border: 1px;
        border-radius: 10px;
        border-width: 100px;
        background-color: $gris-btn;
        text-align: center;
        text-decoration: none;
        color: $blanco;
        margin: 20px;
        :hover{
             background-color: $negro-btn;
        }
    }
}
.hNosotros {
    h1{
        margin-left: 35%;
        margin-right: 35%;
    }
}
@media screen and (max-width: 320px){
    .hNosotros h1{
        margin-left: 12%;
        margin-right: 11%;
    }
}
.mNosotros {
    p{
        font-size:x-large;
    }
}